.testimonials {
  width: 100%;
  background-color: #f5f5f5;
  &-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    > div {
      margin-bottom: 3rem;
    }
    .clients {
      width: 100%;
      padding-left: 1rem;
      padding-right: 1rem;

      &-owl-stage-outer {
        width: 100%;
        overflow: hidden;
      }

      &-owl-stage {
        transition: all 0.3s ease-out;
        width: 300%;
        display: flex;
      }

      &-owl-item {
        margin: 0 auto;
        width: 100%;

        .quote-modern {
          margin-left: 1rem;

          &__header {
            display: flex;
            align-items: center;

            .avatar {
              overflow: hidden;
              box-shadow: 7px 7px 10px rgb(0 0 0 / 25%);
              border-radius: 30px;
            }

            .description {
              margin-left: 1rem;

              .name {
                font-size: 22px;
                font-weight: 700;
                line-height: 1.5;
              }

              .position {
                margin-top: 8px;
                position: relative;
                z-index: 1;
                font-size: 14px;
                font-weight: 600;
                text-transform: uppercase;
                padding-left: 7px;

                &::before {
                  content: "";
                  display: block;
                  position: absolute;
                  top: -3px;
                  left: 0;
                  bottom: -1px;
                  width: 54px;
                  background-color: #ffdc25;
                  z-index: -1;
                }
              }
            }
          }
          &__body {
            margin-top: 3rem;
            font-style: italic;
            letter-spacing: 0;
            line-height: 1.6;
            position: relative;

            &::before {
              content: "";
              display: block;
              position: absolute;
              width: 4px;
              top: 9px;
              left: -15px;
              bottom: 5px;
              background-color: #000000;
            }
          }
        }
      }

      &-owl-dots {
        text-align: left;
        margin-top: 30px;
        margin-left: 46px;
      }
      &-owl-dot {
        display: inline-block;
        height: 2px;
        width: 24px;
        background-color: #b2b2b2;
        border: 0;
        border-radius: 0;
        transition: all 0.3s ease-in-out;
        margin-left: 7px;
        margin-right: 7px;
      }
      &-owl-dot.active {
        width: 41px;
        background-color: #000000;
      }
    }
    .box-modern {
      width: 100%;
      padding-left: 1rem;
      padding-right: 1rem;

      &-container {
        position: relative;
        background-color: #ffffff;
        box-shadow: 20px 20px 20px rgb(0 0 0 / 15%);
        padding: 40px 15px 35px 30px;
        margin-left: 30px;
        margin-bottom: 47px;
        & > * {
          position: relative;
          z-index: 1;
        }

        &::before {
          content: "";
          display: block;
          position: absolute;
          top: 0;
          left: -5px;
          right: 0;
          bottom: -10px;
          border: 10px solid #dfdfdf;
          transform: translate3d(-15px, 10px, 0);
          pointer-events: none;
          transition: all 0.3s ease-in-out;
        }

        &::after {
          content: "";
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: #fff;
        }
      }

      &-title {
        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase;
        color: #000000;
        letter-spacing: -0.015em;
      }

      &-list {
        margin-top: 36px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: -55px;

        li {
          margin-bottom: 55px;
          width: 50%;
          max-width: 50%;
          min-width: 150px;

          div {
            width: 50%;
            img {
              width: initial;
              display: inline-block;
              opacity: 0.5;
              transition: all 0.3s ease-in-out;

              &:hover {
                opacity: 1;
              }
            }
          }
        }
      }
    }

    .box-modern:hover .box-modern-container::before {
      transform: translate3d(-20px, -12px, 0);
    }
  }
}
