/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  --yellow: #ffdc25;
  --gray: #6c757d;
  --dark-gray: #2c2c2c;
  --title-color: #2d2d2d;
  --text-color-bg-dark: rgba(255, 255, 255, 0.6);
  --text-color-bg-light: rgba(0, 0, 0, 0.6);

  /*========== Font and typography ==========*/
  --body-font: "Montserrat", sans-serif;

  --biggest-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /*========== Font weight ==========*/
  --font-semi-bold: 600;
  --font-bold: 700;

  /*========== Margenes ==========*/
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
}
